 <menus-bar></menus-bar>
  <sidemenu-bar></sidemenu-bar>
 <div id="page-wrapper">

  <div class="row">
    <!-- Page Header -->
    <div class="col-lg-9">
      <h1 class="page-header" align="center"><span style="color:Maroon;">Forums</span></h1>

      <br>
    </div>

    

    <!--End Page Header -->
  </div>
  <div class=" row"> 
    <div class="col-lg-8">
      <div  ng-controller="forumController">


       <div class="panel panel-default ">
        <div class="panel-heading" style="background:#F2F3F4">
         <b><span style="color:#696969;">Recent Forums</span></b>
         
         <hr>
         <br>

         <form ng-submit="forumCtrl.submit()">
           <input type="hidden" ng-model="forumCtrl.forum.forum_id">
           <input type="text" ng-model="forumCtrl.forum.title" id="title" class="form-control input-sm" placeholder="Forum title" />
           <br>
           <input type="text" ng-model="forumCtrl.forum.description" id="description" class="form-control input-sm" placeholder="Forum Description" />
           <br>
           <input type="submit" value="{{!forumCtrl.forum.forum_id ? 'create forum' : 'Update'}}" class="btn btn-success "/>
           <button type="button" ng-click="forumCtrl.reset()" class="btn btn-primary" >Reset</button>

         </form>
         <br>

         <hr>





         <div class="inner-content" ng-repeat="forum in forumCtrl.forums">
        
        
        <a ng-click="forumCtrl.edit(forum.forum_id)" href=""><span class="fa fa-pencil  pull-right" ></span></a>
        <span style="color:Maroon;"><h3><i class="fa fa-share"></i><i><b> {{forum.title}}</b></i></h3></span>
        <br>
        <br>
        <p><i><b><span style="color:#656565;">{{forum.description}}</span></b></i></p>

        <br>
        
        
        <a ng-href="#forums/forumView/{{forum.forum_id}}"><b>view</b></a>
        <p>{{forum.createdAt|date:'medium'}}</p>
        <br>

        <hr>
        
        



      </div>
    </div>
  </div>
</div>        
</div>

</div>
</div>






</div>
<!-- end page-wrapper -->





</div>
        <!-- end wrapper -->
        <my-footer></my-footer>