<menus-bar></menus-bar>
  <sidemenu-bar></sidemenu-bar>

 <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-10">
                <h1 class="page-header"><span style="color:Maroon;">About collaboration</span></h1>
                </div>
                <!--End Page Header -->
            </div>
           <b><h3><span style="color:orange;"> {{message}} </span></h3></b>






        </div>
        <!-- end page-wrapper -->

        <my-footer></my-footer>
